<?xml version="1.0" encoding="UTF-8"?> 
<!--  Hibernate configuration file, here is we we set up hibernate db connection
	and mapping between classes and database tables. -->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 <session-factory>
 	<!--  Database connection settings -->
 	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
 	<property name="connection.url"></property>
 	<property name="connection.username"></property>
 	<property name="connection.password"></property>
 	<property name="connection.pool_size">20</property>
 	<property name="cache.provider_class">org.hibernate.cache.HastableCacheProvider</property>
 	<property name="transcation.factory_class">org.hibernate.transcation.JDBCTranscationFactory</property>
 	<property name="current_session_context_class">thread</property>
 	<property name="hibernate.show_sql">false</property>
	<property name="hibernate.format_sql">false</property>
	<property name="hibernate.use_sql_comments">false</property> 	
 	<!-- Create a new one scheme -->
 	<!-- <property name="hbm2ddl.auto">create</property> -->
 	<!-- Updating the existence scheme -->
   	<property name="hbm2ddl.auto">create</property>
 	<!--  Mapping all the entities -->
 	<mapping resource="Persona.hbm.xml" />
 </session-factory>
</hibernate-configuration>